<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <img src="favicon.ico" />
      <span> Angular</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Version17" nzIcon="swap">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="ROUTER_UTILS.version.V17.getWebContainer">Web Container</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="ROUTER_UTILS.version.V17.getChat">Chat</a>
          </li>
          <li nz-menu-item>New Syntax</li>
          <li nz-menu-item>Deferrable View</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'double-right' : 'double-left'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content> <router-outlet></router-outlet></nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
